body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.address{
    text-align: center;
    margin-top: 0px;
}


.title {
    background-color: #131842;
    width: 100%;
    color: #ffffff;
    text-align: center;
        /* padding: 4px 0; */
}

.title-2 {
    background-color: #860000;
    width: 100%;
    color: #ffffff;
    text-align: center;
        /* padding: 4px 0; */
}


.div1,
.div2 {
    border-top: 1px solid black;
    padding: 0;
}

@page {
    margin: 150px 30px;
}

header {
    position: fixed;
    top: -140px;
    left: 0px;
    right: 0px;
    height: 100px;
    text-align: center;
    background-color: white;
    padding: 10px 0px 0px 0px ;

}

footer {
    position: fixed;
    bottom: -40px;
    left: 0px;
    right: 0px;
    height: 50px;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}
.doc-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 10px; /* Adjust this value to your needs */
    top: 50%;
    transform: translateY(-50%);
}

.doc-name {
    font-weight: bold;
    font-size: 1em; /* Adjust this value to your needs */
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    margin: 0;
}

.pagenum:before {
    content: counter(page);
}


.img {
    margin-top: 10px;
    width: 60px;
    position: absolute;
}

img {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 60px;
}

.med-certif{
   font-family: cursive;
   text-align: center;
   letter-spacing: 3px;
}
h2{
    padding: 0;
}

.date{
    font-size: 15px;
   position: absolute;
   top: 43px;
   right: -0px;
   padding: 0;
}
ul{
   list-style: none;
   padding: 0;
}
.phy-exam{
    font-family: cursive;
}

.assessment{
    font-family: cursive;
    text-align: center;
}
/* 
.overlay-container {
    position: relative;
    width: 100%; 
    height: 100%; 
} */

.body-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 85%; 
    opacity: 0.1; 
}

h1,
h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}
@page {
    margin: 150px 30px;
}
